[submodule "deps/qtmqtt"]
	path = deps/qtmqtt
	url = https://github.com/qt/qtmqtt
	ignore = dirty
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "NERODevelopment/src/third_party/doomgeneric"]
	path = NERODevelopment/src/third_party/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
